ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.headerbg{
    width:100%;
    height:216px ;
    max-width: 1280px;
    margin: 0 auto 60px auto;
    background-image: url(../images/tloheader.jpg);
    
}

.img-film {
    margin-top: 45px;
    width: 24px;
    height: 24px;
}
.filmoteka {

    margin-top: 45px;
    color: white;
    font-size: 30px;
    margin-right: 220px;
}
.header-flex {
    display: flex;
    // flex-direction: row;
   
}
.header_home{
    margin-top: 45px;
    color: white;
    margin-right: 39px;
}
.header_library {
    margin-top: 45px;
    margin-right: 32px;
    color: white;
}
.header_input {
    background: url(../images/tloinputa.png);
    opacity: 0.9;
    margin-top: 115px;
    margin-right: 260px;
}
.input {
    width: 200px;
    height: 20px;
    background: url(../images/tloinputa.png);
opacity: 0.9;
border: none;
    // border-bottom: 1px solid white;
    color:white;
    padding: 5px;
}

.gallery__link {
transition: transform 0.3s ease;
// height: 600px;
}
.gallery__link:hover {
    transform:scale(1,01) translateY(-5%);
}
.gallery {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
}


.margin {
     margin: 0 auto
     ;}

     .gallery-item__img {

        height: 574px;
        width: 395px;
     }

     .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      
        ul {
          list-style-type: none;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      
        li {
          margin: 0 5px;
        }
      
        button {
          padding: 8px 16px;
          font-size: 16px;
          background-color: #f9f9f9;
          border: 1px solid #ddd;
          border-radius: 4px;
          cursor: pointer;
        }
      }

      .button-form{
        background: url(../images/tloinputa.png);
        opacity: 0.9;
        border: none;
      }
      .div-form {
        border-bottom: 1px solid white;
      }

      .icon-search{
        fill: #f9f9f9;
      }

      .input:focus{
        outline: none;
      }