<section>
  <div class="container headerbg">
<ul class="header-flex">
  <li>
    <a class="header_link" href="">
    <img class="img-film" src="./images/film.png"> 
    </a>
    <span class="filmoteka">Filmoteka</span>

  </li>
  <li class="header_input">
    <input class="input" placeholder="Movie search">
  </li>
  <li class="header_home">HOME</li>
  <li class="header_library">MY LIBRARY</li>

</ul>    

  </div>
</section>
<section class="margin">
  <div class="gallery-flex">
  <div class="gallery"></div>
  </div>
</section>